.body {
  margin: 0;
  padding: 0;
}

.round {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
}

.main-widget {
  display: flex;
  justify-content: space-between;
}

.hero-style {
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: center;
}

.hero-stats-style {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.boss-style {
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: center;
}

.boss-stats-style {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}

.hero-skills-style {
  display: flex;
  padding: 10px;
}

.log {
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
}

.log-style {
  display: flex;
  background-color: rgb(197, 189, 189);
  border: 1px solid black;
  border-radius: 4px;
  width: 500px;
  height: 250px;
  overflow: auto;
}

.log-data {
  padding: 10px;
}

.gif {
  display: flex;
  justify-content: space-between;
}

.boss-style-hp {
  padding: 0px 20px;
  background-color: rgba(255, 0, 0, 0.719);
  border-radius: 5px;
}

.boss-data-style-hp {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: white;
}

.style-hp {
  padding: 0px 20px;
  background-color: rgba(255, 0, 0, 0.719);
  border-radius: 5px;
}

.style-mana {
  display: flex;
  margin: 0px 5px;
  padding: 0px 10px;
  align-items: center;
}

.hero-img-style-food {
  margin-right: 5px;
}

.style-food {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.hero-data-style-mana {
  margin-left: 5px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.data-style {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: white;
}

.style-armor {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 10px;
  border-radius: 5px;
}

.hero-img-style-armor {
  position: absolute;
}

.hero-data-style-armor {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: black;
}

@media (max-width: 650px) {
  .log {
    display: none;
  }

  .log-style {
    display: none;
  }

  .main-widget {
    display: flex;
  }

  .round {
    font-size: 24px;
  }

  @media (max-width: 400px) {
    .hero-stats-style {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .style-armor {
      display: flex;
      justify-content: center;
      height: 50px;
      padding: 0px 10px;
    }
    .boss-style {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }
    .boss-stats-style {
      display: flex;
      align-items: center;
      flex-direction: column;
    }
    .img {
      width: 220px;
      height: 220px;
    }
  }
}
