.body {
  margin: 0;
  padding: 0;
}

.round {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
}

.main-widget {
  display: flex;
  justify-content: space-between;
}

.hero-style {
  display: flex;
  padding: 10px;

  align-items: center;
  justify-content: center;
}

.hero-stats-style {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.boss-style {
  display: flex;
  padding: 10px;
}

.boss-stats-style {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}

.hero-skills-style {
  display: flex;
  padding: 10px;
}

.log {
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
}

.log-style {
  display: flex;
  background-color: rgb(197, 189, 189);
  border: 1px solid black;
  border-radius: 4px;
  width: 500px;
  height: 250px;
}

.log-data {
  display: flex;
  padding: 10px;
  justify-content: flex-start;
  align-items: flex-start;
}

.gif {
  display: flex;
  justify-content: space-between;
}
